{% extends '::base.html.twig' %}

{% block banner %}
    
    <section id="">
    <div class="inner" style="margin-top:50px; background-color:#000; height:100px;">
                <br/>
                    <h2>D'Emaux et Des Choses</h2>

            </div>
    </section>
    
{% endblock %}

{% block section1 %}
    
{% endblock %}
    
{% block homepagesections %}
   <!-- Main -->
					<article id="main">
						<header>
							<h2>Les créatrices etleurs créations</h2>
							<p>Emaillage sur cuivre, Découpe du cuivre, Création de bijoux, Dessins de formes, Créations originales, Cloisonné, Emaux de Limoges</p>
						</header>
						<section class="wrapper style5">
							<div class="inner">

								<h3>Virginie Pouyé</h3>
								<p>Créatrice de bijoux, initiée à l'art de l'émail en 2002 à Lisbonne... Marseille comme port de plaisance de premières expériences de marchés , boutiques, rencontres éclectiques... et puis Lyon depuis 2006, d'abord sur le marché de l'artisanat des quais de saone, en même temps que la 1ère boutique des artpenteuses rue romarin et l'expérience d'un "vrai" atelier rue Sergent blandan dans le premier arrondissement de Lyon.
Créations aux influences lusophones, poétiques, magiques parfois dans l'art et la manière dont chaque pièce prend vie! Une vie ! Révélations, apparitions, comme un labo photo argentique... magique, unique...</p>

								<hr />

								<h3>Carolina </h3>
								<p>Nam sapien ante, varius in pulvinar vitae, rhoncus id massa. Donec varius ex in mauris ornare, eget euismod urna egestas. Etiam lacinia tempor ipsum, sodales porttitor justo. Aliquam dolor quam, semper in tortor eu, volutpat efficitur quam. Fusce nec fermentum nisl. Aenean erat diam, tempus aliquet erat.</p>

								<p>Etiam iaculis nulla ipsum, et pharetra libero rhoncus ut. Phasellus rutrum cursus velit, eget condimentum nunc blandit vel. In at pulvinar lectus. Morbi diam ante, vulputate et imperdiet eget, fermentum non dolor. Ut eleifend sagittis tincidunt. Sed viverra commodo mi, ac rhoncus justo. Duis neque ligula, elementum ut enim vel, posuere finibus justo. Vivamus facilisis maximus nibh quis pulvinar. Quisque hendrerit in ipsum id tellus facilisis fermentum. Proin mauris dui, at vestibulum sit amet, auctor bibendum neque.</p>

							</div>
						</section>
					</article>
					
					{% endblock %}

                  
                                        
				{% block pageaccueil %}
				{% endblock %}
